.main-view {
  row-gap: 30px;
}

#movie-card {
  background-color: rgb(245, 245, 245);
  color: rgb(9, 27, 73);
  height: 100%;
}

#card-title {
  font-weight: bold;
}

.button {
  border: 1px solid rgb(9, 27, 73);
  color: rgb(9, 27, 73);
}

.button:hover {
  background-color: rgb(9, 27, 73);
  border: 1px solid rgb(9, 27, 73);
  color: rgb(245, 245, 245);
}
