* {
  font-family: Raleway, sans-serif;
  line-height: 1.8;
}

body {
  background-image: url('./img/bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
